body {
    margin: 0;
    background: #0000cc;
    text-align: center;
    color: silver;
    font-family: Verdana;
}

#container {
    display: inline-block;
    position: relative;
    text-align: center;
}

/* CLOCK FACE STYLE */

.circle {
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock-face-row {
    position: relative;
    display: block;
}

.clock {
    font-size: 3em;
    display: inline-block;
    color: silver;
}

.min-selector {
    display: inline-block;
}

.selector-title {
  margin: 0;
}

.selector-component {
  display: inline-block;
  margin: 0;
}

.clock {
    display: inline-block;
}

.fa {
  font-size: 2.5em;
}


/*  BUTTONS DISPLAY - only #start on load, then controled by JS */
#start {
    display: inline;
}

#reset {
    display: none;
}

#pause {
    display: none;
}


/* ROTATING SECONDS ANIMATION */
.inner-dot {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    opacity: 0;
}



/* MEDIA QUERIES - RESPONSIVE SIZING */

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    #container {
        width: 90%;
    }

    .circle {
        width: 300px;
        height: 300px;
    }

    .timez {
        font-size: .8em;
    }
    
    #title {
        font-size: 1.5em;
    }

    .min-selector {
        margin: 0 10px;
    }  
    
    .selector-title, .selector-component {
        font-size: 1.2em;
    }
    
    .clock, .fa {
        font-size: 1.8em;
    }

    #one { transform: translateY(-7.5px) rotate(-60deg) translateX(140px); }
    #two { transform: translateY(-7.5px) rotate(-30deg) translateX(140px); }
    #three { transform: translateY(-7.5px) rotate(0deg) translateX(140px); }
    #four { transform: translateY(-7.5px) rotate(30deg) translateX(140px); }
    #five { transform: translateY(-7.5px) rotate(60deg) translateX(140px); }
    #six { transform: translateY(-7.5px) rotate(90deg) translateX(140px); }
    #seven { transform: translateY(-7.5px) rotate(120deg) translateX(140px); }
    #eight { transform: translateY(-7.5px) rotate(150deg) translateX(140px); }
    #nine { transform: translateY(-7.5px) rotate(180deg) translateX(140px); }
    #ten { transform: translateY(-7.5px) rotate(210deg) translateX(140px); }
    #eleven { transform: translateY(-7.5px) rotate(240deg) translateX(140px); }
    #twelve { transform: translateY(-7.5px) rotate(-90deg) translateX(140px); }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    #container {
        width: 80%;
    }

    .circle {
        width: 400px;
        height: 400px;
    }

     .timez {
        font-size: 1em;
    }
    
    #title {
        font-size: 2.2em;
    }

    .min-selector {
        margin: 0 20px;
    }
    
    .selector-title, .selector-component {
        font-size: 1.5em;
    }
    
    .clock, .fa {
        font-size: 2.5em;
    }

    #one { transform: translateY(-7.5px) rotate(-60deg) translateX(190px); }
    #two { transform: translateY(-7.5px) rotate(-30deg) translateX(190px); }
    #three { transform: translateY(-7.5px) rotate(0deg) translateX(190px); }
    #four { transform: translateY(-7.5px) rotate(30deg) translateX(190px); }
    #five { transform: translateY(-7.5px) rotate(60deg) translateX(190px); }
    #six { transform: translateY(-7.5px) rotate(90deg) translateX(190px); }
    #seven { transform: translateY(-7.5px) rotate(120deg) translateX(190px); }
    #eight { transform: translateY(-7.5px) rotate(150deg) translateX(190px); }
    #nine { transform: translateY(-7.5px) rotate(180deg) translateX(190px); }
    #ten { transform: translateY(-7.5px) rotate(210deg) translateX(190px); }
    #eleven { transform: translateY(-7.5px) rotate(240deg) translateX(190px); }
    #twelve { transform: translateY(-7.5px) rotate(-90deg) translateX(190px); }    
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #container {
        width: 70%;
    }

    .circle {
        width: 600px;
        height: 600px;
    }

    .timez {
        font-size: 1.2em;
    }
    
    #title {
        font-size: 2.8em;
    }
    
    .min-selector {
        margin: 0 40px;
    }

    .selector-title, .selector-component {
        font-size: 2.5em;
    }
    
    .clock, .fa {
        font-size: 4em;
    }

    #one { transform: translateY(-7.5px) rotate(-60deg) translateX(290px); }
    #two { transform: translateY(-7.5px) rotate(-30deg) translateX(290px); }
    #three { transform: translateY(-7.5px) rotate(0deg) translateX(290px); }
    #four { transform: translateY(-7.5px) rotate(30deg) translateX(290px); }
    #five { transform: translateY(-7.5px) rotate(60deg) translateX(290px); }
    #six { transform: translateY(-7.5px) rotate(90deg) translateX(290px); }
    #seven { transform: translateY(-7.5px) rotate(120deg) translateX(290px); }
    #eight { transform: translateY(-7.5px) rotate(150deg) translateX(290px); }
    #nine { transform: translateY(-7.5px) rotate(180deg) translateX(290px); }
    #ten { transform: translateY(-7.5px) rotate(210deg) translateX(290px); }
    #eleven { transform: translateY(-7.5px) rotate(240deg) translateX(290px); }
    #twelve { transform: translateY(-7.5px) rotate(-90deg) translateX(290px); }    
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #container {
        width: 60%;
    }

    .circle {
        width: 800px;
        height: 800px;
    }

    .timez {
        font-size: 1.4em;
    }

    
    #title {
        font-size: 3.5em;
    }

    .selector-title, .selector-component {
        font-size: 3.2em;
    }
    
    .clock, .fa {
        font-size: 4.5em;
    }

    #one { transform: translateY(-7.5px) rotate(-60deg) translateX(390px); }
    #two { transform: translateY(-7.5px) rotate(-30deg) translateX(390px); }
    #three { transform: translateY(-7.5px) rotate(0deg) translateX(390px); }
    #four { transform: translateY(-7.5px) rotate(30deg) translateX(390px); }
    #five { transform: translateY(-7.5px) rotate(60deg) translateX(390px); }
    #six { transform: translateY(-7.5px) rotate(90deg) translateX(390px); }
    #seven { transform: translateY(-7.5px) rotate(120deg) translateX(390px); }
    #eight { transform: translateY(-7.5px) rotate(150deg) translateX(390px); }
    #nine { transform: translateY(-7.5px) rotate(180deg) translateX(390px); }
    #ten { transform: translateY(-7.5px) rotate(210deg) translateX(390px); }
    #eleven { transform: translateY(-7.5px) rotate(240deg) translateX(390px); }
    #twelve { transform: translateY(-7.5px) rotate(-90deg) translateX(390px); }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    h1 {
        font-size: 2.6em;
    }

    #container {
        width: 60%;
    }
    .timez {
        font-size: 1.5em;
    }      
}