body {
  margin: 0;
  background: #999;
  text-align: center;
  color: white;
  font-family: Verdana;

}

#title {
  color: #237;
}

h2 {
  margin-bottom: 10px;
}

h3 {
  font-size: 2.5em;
  display: inline-block;
  margin: 0;
}

.minCounter {
  display: inline-block;
  margin: 0 40px;
}

.controls {
  display: inline-block;
  margin-left: -3px;
}

.minuteBG {
  background-color: black;
  border: 1px solid white;
  border-right: none; 
  display: inline-block;
  padding: 0 5px;
  height: 50px;
  vertical-align: top;
}

.arrows {
  display: block;
  padding: 5px;
  height: 26px;
  width: 34px;
  border: 1px solid white;
  margin-left: -2px;
}

#brkTime {
  float: right;
  margin-right: 20px;
}

#domClock {
  margin: 25px auto;
  font-size: 30px;
  background: black;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid white;
}


.timez {
  position: relative;
  top: 41%;
}

.clock {
  display: inline;
}

.timer-btn {
  padding: 10px;
  margin: 5px;
  font-size: 1.23em;
}

#start {
  display: inline;
}

#resume {
  display: none;
}

#reset {
  display: none;
}

#pause {
  display: none;
}



