/*  COLORS
*   Work clock  background  #889
*               highlight   silver
*
*   Break clock background  red
*               highlight   ?
*/

body {
    margin: 0;
    background: #889;
    text-align: center;
    color: silver;
    font-family: Verdana;
}

/* CLOCK FACE STYLE */

/*
.clock-face {
    margin-top: 20%; 
}
*/

.clock-face-row {
    position: relative;
    display: block;
}

.clock {
    font-size: 3em;
    display: inline-block;
    color: silver;
}

.min-selector {
    display: inline-block;
    margin: 0 40px;
}

.selector-title {
  margin: 0;
}

.selector-component {
  display: inline-block;
  margin: 0;
}

.clock {
    display: inline-block;
}

.fa {
  font-size: 2.5em;
}




#aspect-ratio { 
    margin-top: 100%;
    /* 1:1 aspect ratio hack forces .circle-one to height to match the responsive width
    *  inspired by Nathan Ryan http://ansciath.tumblr.com/post/7347495869/css-aspect-ratio */
}   


#container {
    display: inline-block;
    position: relative;
    text-align: center;
}

.circ {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.circle-one {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: silver
}

.circle-two {
    background: #889;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    /* Flexbox option? */
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-hand {
    background: #348;
    position: relative;
    left: 50%;
    height: 50%;
    width: 10px; 
    -webkit-animation: rotate 60s infinite linear;
    -webkit-transform-origin:  bottom;
    -moz-animation: rotate 60s infinite linear;
    -moz-transform-origin: left bottom;
    -ms-animation: rotate 60s infinite linear;
    -ms-transform-origin: left bottom;
    -o-animation: rotate 60s infinite linear;
    -o-transform-origin: left bottom;
    animation: rotate 60s infinite linear;
    transform-origin: left bottom;
}

.hand-paused {
    -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
    animation-play-state: paused;
}

.hand-stopped {
    -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
    animation-play-state: paused;
    display: none;
}



/*  BUTTONS DISPLAY - only #start on load, then controled by JS */
#start {
    display: inline;
}

#reset {
    display: none;
}

#pause {
    display: none;
}

/* ANIMATION : .second-hand ROTATE */
@-webkit-keyframes rotate {
    0% { -webkit-transform: rotate(0deg);}
    100% { -webkit-transform: rotate(360deg);}
} 

@-moz-keyframes rotate {

    0% { -moz-transform: rotate(0deg);} 
    100% { -moz-transform: rotate(360deg);}
} 

@-ms-keyframes rotate {
    0% { -ms-transform: rotate(0deg);}
    100% { -ms-transform: rotate(360deg);}
} 

@-o-keyframes rotate {
    0% { -o-transform: rotate(0deg);}
    100% { -o-transform: rotate(360deg);}
} 

@keyframes rotate {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
} 


/* MEDIA QUERIES - RESPONSIVE SIZING */

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    #container {
        width: 90%;
    }

    .timez {
        font-size: .8em;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    #container {
        width: 80%;
    }

     .timez {
        font-size: 1em;
    }
    
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    h1 {
        font-size: 2.2em;
    }

    #container {
        width: 70%;
    }

    .timez {
        font-size: 1.2em;
    }      
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #container {
        width: 60%;
    }  

    .timez {
        font-size: 1.4em;
    }


}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    h1 {
        font-size: 2.6em;
    }

    #container {
        width: 60%;
    }
    .timez {
        font-size: 1.5em;
    }      
}